@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {

    /* fontes especificas do Site */
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

html,body {
    min-height: 100vh;
}
/* -------------------------------------------- */

/* CABEÇALHO */

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
padding: 50px;
font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
    
}
/* LINK */

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    
}
/* CLASSES*/

.normal {
background-color: rgb(255,255,255);
}

.imagem-fundo{
background-color:grey
}

.imagem-fundo > p {
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    width: 400px;

}

/* SECTIONS */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}




/* RODAPE */
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}


